<?xml version="1.0"?>
<config>
	<engine>
		<title>Kichiku Gemu</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="720" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="MapTemplate.tmx" />
		<entities>
			<player x="661" y="1691" w="64" h="64" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idleR loop="true" speed="0.02">
						<frame x="0" y="0" w="64" h="64" />
						<frame x="64" y="0" w="64" h="64" />
						<frame x="128" y="0" w="64" h="64" />
						<frame x="192" y="0" w="64" h="64" />
						<frame x="256" y="0" w="64" h="64" />
						<frame x="320" y="0" w="64" h="64" />
						<frame x="384" y="0" w="64" h="64" />
						<frame x="448" y="0" w="64" h="64" />
						<frame x="512" y="0" w="64" h="64" />
						<frame x="576" y="0" w="64" h="64" />
					</idleR>
					<idleL loop="true" speed="0.02">
						<frame x="0" y="64" w="64" h="64" />
						<frame x="64" y="64" w="64" h="64" />
						<frame x="128" y="64" w="64" h="64" />
						<frame x="192" y="64" w="64" h="64" />
						<frame x="256" y="64" w="64" h="64" />
						<frame x="320" y="64" w="64" h="64" />
						<frame x="384" y="64" w="64" h="64" />
						<frame x="448" y="64" w="64" h="64" />
						<frame x="512" y="64" w="64" h="64" />
						<frame x="576" y="64" w="64" h="64" />
					</idleL>
					<walk loop="true" speed="0.02">
						<frame x="0" y="128" w="64" h="64" />
						<frame x="64" y="128" w="64" h="64" />
						<frame x="128" y="128" w="64" h="64" />
						<frame x="192" y="128" w="64" h="64" />
						<frame x="256" y="128" w="64" h="64" />
						<frame x="320" y="128" w="64" h="64" />
						<frame x="384" y="128" w="64" h="64" />
						<frame x="448" y="128" w="64" h="64" />
						<frame x="512" y="128" w="64" h="64" />
						<frame x="576" y="128" w="64" h="64" />
					</walk>
					<right loop="true" speed="0.02">
						<frame x="0" y="192" w="64" h="64" />
						<frame x="64" y="192" w="64" h="64" />
						<frame x="128" y="192" w="64" h="64" />
						<frame x="192" y="192" w="64" h="64" />
						<frame x="256" y="192" w="64" h="64" />
						<frame x="320" y="192" w="64" h="64" />
						<frame x="384" y="192" w="64" h="64" />
						<frame x="448" y="192" w="64" h="64" />
						<frame x="512" y="192" w="64" h="64" />
						<frame x="576" y="192" w="64" h="64" />
					</right>
					<dead loop="false" speed="0.01">
						<frame x="0" y="256" w="64" h="64" />
						<frame x="64" y="256" w="64" h="64" />
						<frame x="128" y="256" w="64" h="64" />
						<frame x="192" y="256" w="64" h="64" />
						<frame x="256" y="256" w="64" h="64" />
						<frame x="320" y="256" w="64" h="64" />
						<frame x="384" y="256" w="64" h="64" />
						<frame x="448" y="256" w="64" h="64" />
						<frame x="512" y="256" w="64" h="64" />
						<frame x="576" y="256" w="64" h="64" />
					</dead>
				</animations>
			</player>
			<items>
				<item name="coin" x="200" y="672" w="64" h="64" texture="Assets/Textures/goldCoin.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="0" w="64" h="64" />
						</idle>
					</animations>
				</item>
				<checkpoint name="checkpoint" x="576" y="1728" w="64" h="64" texture="Assets/Textures/checkpoint.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="0" w="64" h="64" />
						</idle>
					</animations>
				</checkpoint>
				<checkpoint2 name="checkpoint2" x="2112" y="1088" w="64" h="64" texture="Assets/Textures/checkpoint.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="0" w="64" h="64" />
						</idle>
					</animations>
				</checkpoint2>
				<bullet name="bullet" x="10" y="10" w="32" h="32" texture="Assets/Textures/bolinga.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
						</idle>
					</animations>
				</bullet>
			</items>
			<enemies>
				<enemy0 name="badguy" x="4541" y="989" w="64" h="64" texture="Assets/Textures/enemy/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="0" w="64" h="64" />
							<frame x="64" y="0" w="64" h="64" />
							<frame x="128" y="0" w="64" h="64" />
							<frame x="192" y="0" w="64" h="64" />
							<frame x="256" y="0" w="64" h="64" />
							<frame x="320" y="0" w="64" h="64" />
							<frame x="384" y="0" w="64" h="64" />
							<frame x="448" y="0" w="64" h="64" />
							<frame x="512" y="0" w="64" h="64" />
							<frame x="576" y="0" w="64" h="64" />
							<frame x="640" y="0" w="64" h="64" />
							<frame x="704" y="0" w="64" h="64" />
							<frame x="768" y="0" w="64" h="64" />
							<frame x="832" y="0" w="64" h="64" />
						</idle>
					</animations>
				</enemy0>
				<enemy1 name="badguy" x="618" y="1717" w="64" h="64" texture="Assets/Textures/enemy/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="0" w="64" h="64" />
							<frame x="64" y="0" w="64" h="64" />
							<frame x="128" y="0" w="64" h="64" />
							<frame x="192" y="0" w="64" h="64" />
							<frame x="256" y="0" w="64" h="64" />
							<frame x="320" y="0" w="64" h="64" />
							<frame x="384" y="0" w="64" h="64" />
							<frame x="448" y="0" w="64" h="64" />
							<frame x="512" y="0" w="64" h="64" />
							<frame x="576" y="0" w="64" h="64" />
							<frame x="640" y="0" w="64" h="64" />
							<frame x="704" y="0" w="64" h="64" />
							<frame x="768" y="0" w="64" h="64" />
							<frame x="832" y="0" w="64" h="64" />
						</idle>
					</animations>
				</enemy1>
				<murcielago0 name="murcielago" x="4975" y="4419" w="48" h="48" texture="Assets/Textures/enemy/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="128" w="48" h="48" />
							<frame x="48" y="128" w="48" h="48" />
							<frame x="96" y="128" w="48" h="48" />
							<frame x="144" y="128" w="48" h="48" />
						</idle>
					</animations>
				</murcielago0>
				<murcielago1 name="murcielago" x="869" y="1166" w="48" h="48" texture="Assets/Textures/enemy/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="128" w="48" h="48" />
							<frame x="48" y="128" w="48" h="48" />
							<frame x="96" y="128" w="48" h="48" />
							<frame x="144" y="128" w="48" h="48" />
						</idle>
					</animations>
				</murcielago1>
				<BOO0 name="boo0" x="4742" y="758" w="32" h="32" texture="Assets/Textures/enemy/BOO.png" gravity="true">
					<animations>
						<idleR loop="true" speed="0.05">
							<frame x="0" y="0" w="32" h="32" />
						</idleR>
						<idleL loop="true" speed="0.05">
							<frame x="32" y="0" w="32" h="32" />
						</idleL>
						<scaredR> loop="true" speed="0.05"&gt;
							<frame x="64" y="0" w="32" h="32" />
						</scaredR>
						<scaredL loop="true" speed="0.05">
							<frame x="96" y="0" w="32" h="32" />
						</scaredL>
					</animations>
				</BOO0>
				<spring0 name="spring1" x="1933" y="1088" w="64" h="64" texture="Assets/Textures/spring.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="0" w="64" h="64" />
						</idle>
					</animations>
				</spring0>
				<BOO0 />
				<BOO1 />
				<BOO2 />
				<BOO3 />
			</enemies>
		</entities>
	</scene>
</config>
